.letterTile {
    min-height: 75px;
    min-width: 75px;
    background-color: #f0f0f0;
}

.letterTileContent {
    text-align: center;
    line-height: 65px;
    font-size: 32px;
    margin: 0;
    user-select: none;
}