@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Raleway:wght@400;600&display=swap');

:root {
  --blue: #2196F3;
  --blue-dark: #0065b8;
  --blue-hover: #38a5ff;
  --red: #ff5733;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/* HTML Element Styling */

h1 {
  font-family: 'Raleway', 'Montserrat', Helvetica, sans-serif;
	font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input[type='button'] {
  padding: 10px 75px;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  background: white;
  border: 1px solid var(--blue);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: margin-bottom 0.3s, box-shadow 0.3s, background 0.4s;
}

button:hover, input[type='button']:hover {
  cursor: pointer;
  background: rgba(250, 250, 250, 0.5);
  box-shadow: rgba(211, 211, 211, 0.5) 0px 5px 10px;
}

.smallButton {
  padding: 5px 10px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.smallButton:hover {
  box-shadow: rgba(211, 211, 211, 0.5) 0px 5px 5px !important;
}

input {
  padding: 15px;
  font-family: 'Montserrat';
  font-size: 12px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

input:focus, button:focus {
  outline: 1px solid var(--blue);
}

select {
  padding: 5px 15px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 5px 15px;
  font-family: 'Raleway';
}

select:focus {
  outline: 1px solid var(--blue);
}

.smallTextField {
  padding: 6px 8px;
}  

/* Switch Checkbox */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  border-radius: 34px;
  transition: 0.2s;
}

.switch:focus-within > span {
  transition: none;
  outline: 2px solid var(--blue-dark);
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.2s;
  border-radius: 50%;
  transition: 0.2s;
}

input:checked + .switch-slider {
  background-color: var(--blue);
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Major Button */

.isMain {
  background: var(--blue);
  color: white;
  font-weight: 600;
  border: none;
}

.isMain:hover {
  background: var(--blue-hover);
}

.isMain:focus {
  outline: 2px solid var(--blue-dark);
}

/* Header */

header {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-name {
  display: flex;
  justify-content: center;
}

.logo-header {
  line-height: 40px;
}

.logo-img-container {
  width: 80px;
}

.logo-img {
  border-radius: 50%;
  padding: 5px 20px 20px 5px;
  margin-top: 10px;
  min-width: 50px;
  transition: padding 0.3s, margin-right 0.3s, margin-bottom 0.3s, margin-top 0.3s;
}

.logo-img:hover {
	padding: 15px 5px 5px 5px;
  margin-top: 0;
  margin-bottom: 15px;
	cursor: pointer;
}

/* Footer */

footer {
  position: absolute;
  background: #f3f3f3;
  width: 100%;
  height: 35px;
  bottom: 0;
}

.copyright p {
  font-size: 12px;
  margin: 10px 10px;
  opacity: 0.5;
}