#mainContent {
    display: flex;
    align-items: center;
    position: relative !important;
    overflow: hidden;
    height: 70vh;
}

.mainMenu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    transition: left 1s, transform 1s;
}

.optionsMenu {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pageHeader {
    text-align: center;
}

.menuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinMenu {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 1vw;
    width: 250px;
    transform: translateX(100vw);
    opacity: 0;
    transition: left 1s, transform 1s, opacity 1s;
}

.hostMenu {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 90%;
    left: -350px;
    transform: translateX(-250px);
    opacity: 0;
    transition: left 1s, transform 1s, opacity 1s;
}

.hostGameForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 300px;
    flex-wrap: wrap;
    overflow-y: clip;
    gap: 10px;
}

.formSection {
    margin-bottom: 15px;
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: max-content;
    box-shadow: rgba(211, 211, 211, 0.5) 0px 1px 5px;
}

#team {
    display: flex;
}

#team label {
    flex-grow: 1;
    line-height: 25px;
}

#commands > label {
    display: block;
    text-align: center;
    font-weight: bold;
}

#options {
    display: flex;
    flex-direction: column;
}

#options > div:not(:last-child) {
    margin-bottom: 10px;
}

.option {
    display: grid;
    grid-template-columns: 85% 15%;
    line-height: 18px;
}

.commandsOptions {
    display: grid;
    grid-template-columns: 1fr 50px;
    row-gap: 10px;
    margin-top: 10px;
}

.resetToDefault {
    width: 200px !important;
    margin-bottom: 20px;
}

.backArrow {
    margin-right: 20px;
    width: 33px;
    height: 33px;
    transition: opacity 0.3s;
}

.backArrow:hover {
    cursor: pointer;
    opacity: 0.6;
}

.isPointingRight {
    transform: rotate(180deg);
    margin: 5px 0 0 20px;
}

/* Slide Animation */

/* slideIn brings anything to the centre of the screen */
.slideIn {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.slideOutLeft {
    left: 0;
    transform: translateX(-100%);
}

.slideOutRight {
    left: 100%;
    transform: translateX(100%);
}

/* Media Rules */

@media screen and (max-width: 600px) {
    #mainContent {
        height: 60vh;
    }
    .hostGameForm {
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: 350px;
    }
}