#mainContent {
    display: flex;
    align-items: center;
    position: relative !important;
    overflow: hidden;
}

.mainMenu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    transition: left 1s, transform 1s;
}

.buttonList {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pageHeader {
    text-align: center;
}

.joinMenu {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    left: 1vw;
    transform: translateX(100vw);
    margin-top: 87px;
    opacity: 0;
    transition: left 1s, transform 1s, opacity 1s;
}

#joinMenuHeader {
    display: flex;
    align-items: center;
}

.backArrow {
    margin-right: 20px;
    width: 33px;
    height: 33px;
    transition: opacity 0.3s;
}

.backArrow:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Slide Animation */

.slideIn {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.slideOut {
    left: 0;
    transform: translateX(-100%);
}

